/* HOME */

#screen-home h2 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  #screen-home p {
    color: var(--muted);
    margin-bottom: 26px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  